
///  Manufacturer:	Realtek Semiconductor Corp.
// Description:	Realtek RTL8723DE 802.11b/g/n PCIe Adapter
// Driver version:	2024.0.10.209
// Physical address (MAC):	9C-30-5B-3F-11-7F
// EB: 0812 921 3231, +234 814 562 4209